.searchBar {
    margin-top: 1rem;
    width: 100%;
}

.page {
    margin-left: 1rem;
    margin-right: 1rem;
}

.one-country {
    width: 200px;
    height: 200px;
    padding-bottom: 0px;
}

.title {
    justify-content: center;
}

.countryFlag {
    height: 168px;
}