.searchBar {
    margin-top: 1rem;
    width: 100%;
}

.page {
    margin-left: 1rem;
    margin-right: 1rem;
}

.one-country {
    width: 400px;
    height: 150px;
    padding-bottom: 0px;
}

.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
