.searchBar {
    margin-top: 1rem;
    width: 100%;
}

.page {
    margin-left: 1rem;
    margin-right: 1rem;
}

.one-country {
    width: 400px;
    height: 150px;
    padding-bottom: 0px;
}

.header-image {
    background-size: cover;
}

.country-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}