.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.btnChange {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnNext {
    left: 92%;
}

.btnPrev {
    left: 8%;
}