<div class="page">
    <h1 class="title">Financement</h1>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let item of list" (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
            <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 20px;">
                    {{item.name}}
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="country-list">
                <p *ngFor="let info of item.info">{{info}}</p>
                <mat-expansion-panel *ngIf="item.links && item.links.length > 0" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Lien d'aide
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                        <ng-container *ngFor="let link of item.links">
                            <mat-card class="one-country clickable mat-elevation-z4" (click)="goToWindow(link.link)">
                                <mat-card-header class="title">
                                    <mat-card-title>{{link.name}}</mat-card-title>
                                    <mat-card-subtitle>{{link.subtitle}}</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image [src]="link.imageLink" alt="Photo of a Shiba Inu">
                                <mat-card-content>
                                    <p *ngFor="let description of link.description">
                                        {{description}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </ng-container>
                    </div>
                </mat-expansion-panel>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>