<div class="barCard">

    <img #img class="barImage" [src]="bar.image" alt="">

    <div class="barContenu" [style.max-height]="'calc(400px - ' + img.offsetHeight + 'px - 2rem - 1rem'">
        <div class="barTitle">{{bar.title}}</div>
        <div class="container">
            <div class="barText">
                {{bar.description}}
            </div>
        </div>
        <div class="barBtnContainer">
            <button (click)="log('Position', bar.position)" mat-button class="barBtn">Emplacement</button>
            <button (click)="log('WebSite', bar.siteWeb)" *ngIf="bar.siteWeb" mat-button class="barBtn">Site web</button>
        </div>
    </div>
</div>
