<div class="barCard">

    <img #img class="barImage" [src]="bar.image" alt="">

    <div class="barContenu" [style.max-height]="'calc(400px - ' + img.offsetHeight + 'px - 2rem - 1rem'">
        <div class="barTitle">{{bar.title}}</div>
        <div class="container">
            <div class="barText">
                {{bar.description}}
            </div>
        </div>
        <div class="barBtnContainer">
            <a target="_blank" [href]="bar.position" mat-button class="barBtn">Emplacement</a>
            <a target="_blank" *ngIf="bar.siteWeb" [href]="bar.siteWeb" mat-button class="barBtn">Site web</a>
        </div>
    </div>
</div>