<div class="page">
    <div class="container">
        <div class="filter-container">
            <mat-form-field class="select filter" appearance="outline">
                <mat-select [(ngModel)]="selectedType" (selectionChange)="filter()">
                    <mat-option value="Tous">Tous</mat-option>
                    <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="searchBar filter" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <input autocomplete="off" (input)="filter()" placeholder="Chercher" matInput type="text" [(ngModel)]="searchBarValue">
                <button *ngIf="searchBarValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchBarValue=undefined; filter()">
              <mat-icon>close</mat-icon>
            </button>
            </mat-form-field>
        </div>

        <div class="country-list">

            <mat-card *ngFor="let item of filteredList" class="info-type">
                <div style="padding: 1.5rem !important">
                    <div class="type" [ngStyle]="{'background-color': item.typeColor}">
                        {{item.type}}
                    </div>
                    <div class="content">
                        <h3 class="title">{{item.title}}</h3>
                        <p class="desc">{{item.content}}</p>
                    </div>
                </div>
                <div>
                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                    <div class="action">
                        <button mat-stroked-button class="continue" (click)="goTo(item)">
                          <div style="display: flex; gap: 0.4rem; flex-direction: row; align-items: center; justify-content: space-between;">
                            Continue <mat-icon>trending_flat</mat-icon>
                          </div>
                        </button>
                    </div>
                </div>

            </mat-card>
        </div>
    </div>
</div>
