.page {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 56rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto;
}

.one-country {
    width: 200px;
    height: 420px;
    padding-bottom: 0px;
}

.title {
    margin-top: 1rem;
    font-size: 2.25rem !important;
    font-weight: 800 !important;
    line-height: 1.25 !important;
    letter-spacing: -0.025em !important;
    margin-bottom: 0px;
}

.panel::ng-deep {
    margin: 0px!important;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important
}

.panel:hover::ng-deep {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important
}

.accordion {
    display: flex;
    gap: 16px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 3rem !important;
}

.subtitle {
    margin-top: 0.5rem !important;
    font-size: 1.125rem !important;
    margin-top: 0.5rem !important;
    text-align: center !important;
    color: rgba(100, 116, 139, 1) !important;
    margin-bottom: 0px;
}

.info {
    line-height: 1.7;
    color: rgba(100, 116, 139, 1) !important;
}

.loading {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 3rem !important;
}